doctype html 
html(lang="en")
  head
    title Your Page Title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include ../public/stylesheets/style-main.css
  body            
    header
        a.button(href="/menulogged") Home 
        a.button(href="/loginadd") Add Question 
        a.button(href="/country/0") Quiz
        a.button(href="/about") About Us
        a.buttonaccount(href="/account") My Account 
        a.buttondisconnect(href="/disconnect") Disconnect 
    main    
        