doctype html
html(lang="en")
  head
    title Your Page Title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include ../public/stylesheets/style.css
      
  body
    header
      h1 World Quiz
    main
      .button-container
        a(href="/login")
          button Add Questions
      .button-container
        a(href="/select-country")
          button Answer Questions
