doctype html
html(lang="en")
  head
    title Your Page Title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include ../public/stylesheets/style-main.css
  body
    header 
      a.button(href="/about") About Us
      h1
        a(href="/menulogged") World Quiz
    main
      img(src='/images/globe-svgrepo-com.svg')
      .button-container
        a(href="/loginadd")
          button Add Questions
      .button-container
        a(href="/country/0")
          button Answer Questions
      .button-disconnect 
        a(href="/disconnect")
          button Disconnect

//https://coolors.co/palettes/popular/5b6ee1