doctype html
html(lang="en")
  head
    title Select country
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include ../public/stylesheets/style.css
    
  body
    header
      h1 Select Country on the map
    main
      .button-container
        a(href="login.pug")
          button Login
      .button-container
        a(href="select-country.pug")
          button Select Country
//Have a map of the world, and select country to click 

//+ have a search bar, to look for the country

//redirect to the page of the country with a random question

//Always have a header with the option to login and add questions