
@font-face {
  font-family: 'Boreal';
  src:  url('webfonts/PhiliItaRusExt.woff')
}


 .resize {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease; 
}

.resize:hover {
  transform: scale(1.2);
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #5B6EE1;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3F3F74;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 20px;
}
.button:hover {
  background-color: #75DDDD;
}

.buttonaccount {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3F3F74;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 690px;
}
.buttonaccount:hover {
  background-color: #75DDDD;
}

.buttondisconnect {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 30px;
}
.buttondisconnect:hover {
  background-color: #dfa5a7;
}

header {
  background-color: #143268;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  flex-grow: 1; 
  margin-right: 120px;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.button-container button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3F3F74;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;

  
}

.button-disconnect button {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;

  
}

.button-container button:hover {
  background-color: #75DDDD;
}

.button-disconnect button:hover {
  background-color: #dfa5a7;
}

a{
  color:#e0fbfc;
  font-family: Boreal;
}

.containerquestions{

  background-color: lightblue;
  border-radius: 10px;
  padding: 20px;
  margin-top:30px;
}

li{
  list-style-type: none;
  margin-bottom: 10px;
  margin-top: 20px;
}


