/* @font-face{
    font-family: 'kids';
    src: url("MoonkidspersonaluseExtrabold-X3n72.otf")
} */

header {
    color: white;
    padding: 20px;
    text-align: center;
    
  }

h1{
    font-family: arial;
}
main{

}